In [1]:
speed = 25
time = 4
print(speed*time)

100

In [4]:
lst = [7,6,0,4,3]
count = len(lst)
avg = sum(lst)/count
print(int(avg))

4

In [5]:
print((5000*10*4)/100)

2000.0

In [6]:
print(1+2**3//4*5)

11

In [7]:
2**3

8

In [8]:
my_int = 20
my_float = 15.85
my_string = 'Hello World'
my_bool = True

In [14]:
bank_balance = 200
print(bank_balance)

200

In [18]:
height = 50
width = 40
area_of_rectangle= height * width
print(area_of_rectangle)

2000

In [19]:
height = 60
width = 40
new_area_of_rectangle = height*width
print(new_area_of_rectangle)

2400

In [44]:
height = 1.7
weight = 72.25
bmi = int(weight/(height*height))
print(bmi)

25

In [52]:
gender = "male"
is_obese = False

In [58]:
total_interest = 9762.69
type(total_interest)

float

In [60]:
print("BMI is " + str(25))

BMI is 25

In [68]:
bmi = 25
print("BMI is " + str(bmi))

BMI is 25

In [62]:
bmi_str = str(bmi)
message = "BMI is " + bmi_str
print(message)

BMI is 25

In [67]:
first = 'Cloudx'
second = 'Lab'
final = first + second

In [72]:
animal = 'cat'
ten_animals = 10*animal

In [77]:
def pay_calculator(hours, rate):
    if(hours<=40):
        total_pay = hours*rate
    else:
        above_40_hours = hours-40
        hours  = 40
        total_pay = hours*rate + above_40_hours*rate*1.5
    return total_pay

In [78]:
pay_calculator(45,10)

475.0

In [87]:
ord('d')

100

In [88]:
height = 20
width = 80
area_of_rectangle = height*width

In [93]:
type(area_of_rectangle)

int

In [94]:
area_of_circle = 78.5
area_of_circle = str(area_of_circle)
area_of_circle_msg = "Area of the circle is - " + area_of_circle
print(area_of_circle_msg)

Area of the circle is - 78.5

In [99]:
len('cloudxlab')

9

In [100]:
max('cloudxlab')

'x'

In [101]:
min('cloudxlab')

'a'

In [108]:
square_area = 8.9*8.9
square_area_type = type(square_area)
square_area_int = int(square_area)
square_area_str = str(square_area_int)

In [114]:
import math
square_root = math.sqrt(56.98)
sin_rad = 26*2*math.pi/360
sin_degree = math.sin(sin_rad)
log_e = math.log(1000)

In [121]:
import random
for a in range(10):
    number = random.random()
    print(number)

0.6466693822035893
0.4752316704507249
0.9962461652650493
0.7890225878650384
0.9245137294857051
0.1026687455893901
0.9658923248891026
0.5705532202255038
0.9447744410649129
0.07023846636571318

In [122]:
import random
random_number = random.random()
random_int = int(random_number)
random_int

0

In [127]:
def print_name():
    name = "Cloudxlab"        
    print("My name is", name)

In [128]:
print(type(print_name))

<class 'function'>

In [129]:

def get_name():
    print("Cloudxlab")
get_name()

Cloudxlab

In [132]:
def my_function(number):
    xyz = number
    xyz_str = str(xyz)
    xyz_str+='cloudxlab'
    print(xyz_str)
my_function(10)

10cloudxlab

In [135]:
def new_function(num):
    return num*math.pi
def void_function(num1,num2):
    print(new_function(num1**num2))

In [136]:
void_function(4.6,7.3)

216412.35147094267

In [139]:
def input_name():
    inp = input("Enter input: ")
    return inp

In [144]:
subject = input_name()
print(subject)

Enter input: Python
Python

In [153]:
def bool_func(num1,num2,num3,num4):
    exp1 = str(num1 > num2)
    exp2 = str(num1 == num3)
    exp3 = str(num2 <= num3)
    exp4 = str(num4 != num1)
    return (exp1 + exp2 + exp3 + exp4)
bool_func(1,2,3,4)

'FalseFalseTrueTrue'

In [169]:
def conditional_statements(num1,num2,num3,num4):
    exp1 = (num1<num2 and num1>num3 and num1 == num4)
    exp2 = (num3<num1 and num3<num2 and num3<num4)
    exp3 = (type(num2) == float)
    exp4 = (type(num1) == int and type(num3) == int and type(num4) == int)
    if(exp1 == exp2 == exp3 == exp4 == True):
        return (num1+num2+num3+num4)
    else:
        return None

In [170]:
conditional_statements(1,21,0,4)

In [233]:
def except_func(num):
    try:
        if(type(num) is not None):
            mul = num*num
        return mul
    except:
        return("Invalid number")
  
except_func("sample")

'Invalid number'

In [234]:
except_func(2.2)

4.840000000000001

In [240]:
def except_func(num):
    try:
        return num*num
    except:
        return ("invalid number")
except_func('sample')

'invalid number'

In [246]:
import random
random_var = random.random()
random_var += 1

In [247]:
random_var

1.5736046323622679

In [1]:
def print_even(n):
    for num in range(n):
        if(num%2==0):
            print(num)
        else:
            continue

In [2]:
print_even(4)

0
2

In [3]:
print_even(5)

0
2
4

In [4]:
print_even(0)

In [50]:
def compound_interest(principle, rate, years):
    # This is where you code go.
    # compute comp_interest
    principle_this_year = principle
    for year in range(years):
        interest_per_year = (principle_this_year*rate*1)/100
        principle_this_year += interest_per_year
    comp_interest = principle_this_year-principle
    return comp_interest

In [51]:
compound_interest(100,5,2)

10.25

In [73]:
def sum_func(num):
    if(type(num) == int):
        if(num>=0):
            i = 0
            sum = 0
            while(i<=num):
                sum += i
                i+=1
            return sum
        else:
            return -1
    else:
        return -1

In [74]:
sum_func(10)

55

In [75]:
sum_func(-1)

-1

In [76]:
sum_func('abcd')

-1

In [93]:
def special_func(num):
    total = 0
    sum = 0
    if(type(num) is int and num>0):
        number = 1
        while(number<=num):
            if(num%number == 0):
                if(number%2 == 1):
                    sum += number
                    number+=1
                else:
                    number+=1
            else:
                number+=1
        return sum
    else:
        return -10

In [94]:
special_func(12)

4

In [95]:
special_func(15)

24

In [96]:
special_func(-1)

-10

In [97]:
special_func('abcd')

-10

In [110]:
def str_func(str_object):
    return str_object[-1]

In [111]:
str_func('1234')

'4'

In [123]:
def sum_str_func(str_or_int_object):
    sum = 0
    if(type(str_or_int_object) is int):
        str_or_int_object = str(str_or_int_object)
    for item in str_or_int_object:
        sum += int(item)
    return sum

In [124]:
sum_str_func(1234)

10

In [137]:
def slicing_func(object_val):
    slice_val = object_val[2::]
    print(slice_val)

In [138]:
slicing_func("Hello World")

llo World

In [143]:
a = "cloudxlab"
a[1] = 'm'

TypeError: 'str' object does not support item assignment

In [146]:
a = "Cloudxlab is a large ed-tech platform for ml and big data"
count = 0
for letter in a:
     if letter == 'l':
        count = count + 1
print(count)

5

In [147]:
result = 'cloud' in 'cloudxlab'
print (result)

True

In [148]:
string = "machine"
print (string == " machine")

False

In [149]:
print(a.upper())
print(a)

CLOUDXLAB IS A LARGE ED-TECH PLATFORM FOR ML AND BIG DATA
Cloudxlab is a large ed-tech platform for ml and big data

In [195]:
def email_func(object_val):
    return_val = ''
    if('@' in object_val):
        split_str = object_val.split()
        for item in split_str:
            if('@' in item):
                return_val = item
                break
            else:
                continue
        return return_val
    else:
        return False

In [196]:
email_func("Crazy Frog")

False

In [197]:
email_func("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com")

'abhinav@cloudxlab.com'

In [198]:
email_func("a a@")

'a@'

In [211]:
print('%d+3' % 3)

3+3

In [212]:
print("%f %f %s")

%f %f %s

In [69]:
print("%f %s %d" % (12.3, 12, 'cloudxlab'))

TypeError: %d format: a number is required, not str

In [214]:
a = [12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]

In [215]:
print(3 in a)

False

In [216]:
print('cloudx lab' in a)

False

In [217]:
a = [1,2,3]    
c = a * 3

In [224]:
sum(c)

18

In [219]:
a

[1, 2, 3]

In [220]:
a = [1,2,3,4,5,6,7,8,9]
s = (a[2:5])
sum(s)

12

In [221]:
a = [1,2,3,4,5,6,7,8,9]
a[2:5] = [7,4,9]

In [223]:
sum(a)

53

In [225]:
a = [23,12,32,1,2,34,56]
a.append(12)
print(a[len(a)-2])

56

In [226]:
a.extend(a)

In [227]:
a

[23, 12, 32, 1, 2, 34, 56, 12, 23, 12, 32, 1, 2, 34, 56, 12]

In [228]:
sum(a)

344

In [229]:
a.sort()
print(a[2] + a[7])

14

In [230]:
list1 = [12,23,43,[2,4,5], 2, 4,5]
list1.pop(3)

[2, 4, 5]

In [231]:
sum(list1)

89

In [232]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[1]
print(list2)

['cloudx', 'provides', 'cloud', 'lab']

In [233]:
list2.remove('lab')

In [234]:
list2

['cloudx', 'provides', 'cloud']

In [235]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[:]

In [236]:
len(list2)

0

In [237]:
lst = ['C', 'l', 'o', 'u', 'd', 'x', 'L', 'a', 'b']

In [238]:
string = str(lst)
string

"['C', 'l', 'o', 'u', 'd', 'x', 'L', 'a', 'b']"

In [243]:
s = "I am learning Python at CloudxLab"
sp = s.split("am")
print(sp)

['I ', ' learning Python at CloudxLab']

In [312]:
def str_list_func(object_str):
    lst = []
    new_str = ''
    output_str = ''
    if(len(object_str)>1):
        lst = object_str.split()
        for item in lst:
            if(len(item)>1):
                new_str = item[-1] + item[1:len(item)-1] + item[0]
                output_str += new_str + ' '
            else:
                output_str += item + ' '
        return output_str
    else:
        output_str += object_str
        return output_str

In [313]:
str_list_func('I am learning Python at CloudxLab')

'I ma gearninl nythoP ta bloudxLaC '

In [321]:
str_list_func("I am the gold")

'I ma eht dolg '

In [322]:
def str_list_func(s):
    return " ".join([ i[-1]+i[1:-1]+i[0] if len(i)>1 else i for i in s.split(" ") ])

In [323]:
str_list_func('I am learning Python at CloudxLab')

'I ma gearninl nythoP ta bloudxLaC'

In [324]:
str_list_func("I am the gold")

'I ma eht dolg'

In [340]:
f = open("/cxldata/python_sample_file")

In [341]:
with open("/cxldata/python_sample_file") as f:
    s = ""
    for line in f:
        print(line)
        s = s + line
    print(s)

This is a sample file for testing

for Python course for

learners in CloudxLab.

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [344]:
with open("/cxldata/python_sample_file") as f:
    content = f.read()

In [345]:
content

'This is a sample file for testing\nfor Python course for\nlearners in CloudxLab.\n'

In [8]:
def file_read_func(path_file):
        s = ""
        lst = []
        count = 0
        try:
            with open(path_file) as f:
                for line in f:
                    lst = line.split()
                    for word in lst:
                        count+=len(word)
            return count
        except:
            return -1

In [9]:
file_read_func("/cxldata/python_sample_file")

65

In [13]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check + 1

In [14]:
check

0

In [16]:
with open("/cxldata/python_sample_file", 'r') as f:
    print(f.read())

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [24]:
with open("cxl.txt", 'w') as f:
    f.write("Python is a scripting language")

In [25]:
with open("cxl.txt", 'r') as f:
    print(f.read())

Python is a scripting language

In [35]:
with open("python_file_writing.txt",'w') as f:
    f.write("I am learning Python at Cloudxlab")

In [36]:
with open("python_file_writing.txt",'r') as f:
    print(f.read())

I am learning Python at Cloudxlab

In [37]:
!pwd

/home/samakshchandra419964/cloudxlab_jupyter_notebooks

In [38]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [40]:
tpl = (10,20,30,40)
tpl

(10, 20, 30, 40)

In [2]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }

In [3]:
print('three' in d)

True

In [4]:
print(4 in d)

False

In [5]:
print(5 in d and 2 in d)

False

In [6]:
def dict_func(inp_str):
    lst = inp_str.split()
    out_dict = {}
    for item in lst:
        if(item not in out_dict):
            out_dict.setdefault(item,1)
        else:
            out_dict[item]+=1
    return out_dict

In [7]:
dict_func('the quick brown fox jumps over the lazy dog')

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [11]:
t = tuple()
print(t)

()

In [12]:
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))

In [16]:
len(t1)

9

In [14]:
len(t2)

5

In [15]:
len(t3)

5

In [17]:
t = (1,3,5,2,54,34,2,34,5)
l = len(t)
print(t[l-2])

34

In [18]:
t2 = t[2:5]

In [20]:
sum(t2)

61

In [22]:
t3 = t[1:3] + t2[:]

In [23]:
sum(t3)

69

In [3]:
(0, 1, 2) < (0, 3)

True

In [4]:
l = [(0,23,34), (2,34,23), (1,34,23)]
l.sort()

In [6]:
sum(l[2])

59

In [7]:
l = [1,2,3]    
a, b, c = l

In [8]:
a , b =  b, a

In [9]:
a

2

In [10]:
b

1

In [11]:
d = { "one" : 1, "two" : 2, "three" : 3}
k = d.items()
print(k)

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [12]:
l = list(k)
print(l)

[('one', 1), ('two', 2), ('three', 3)]

In [13]:
for key, value in list(k):
    print(key, value)

one 1
two 2
three 3

In [1]:
def dict_tuple_func(l):
    out_dict = {}
    sum=0
    for item in l:
        if(item in out_dict):
            out_dict[item]+=1
        else:
            out_dict.setdefault(item,1)
            sum+=item
    tpl = (out_dict,sum)
    return tpl

In [2]:
dict_tuple_func([1, 2, 3, 1, 2, 3])

({1: 2, 2: 2, 3: 2}, 6)

In [66]:
import re

x = "My 2 fav numbers %^& aaaare 19.5 and 42.0"
y = re.findall('\W', x)
print(y)

[' ', ' ', ' ', ' ', '%', '^', '&', ' ', ' ', '.', ' ', ' ', '.']

In [72]:
list1 = [10,20,30,40,50,27,39,42,60,90,100,120,110]
a = filter(lambda x: x%3 == 0, list1)
list(a)

[30, 27, 39, 42, 60, 90, 120]

In [73]:
square = map(lambda x: x*x, list1)
list(square)

[100, 400, 900, 1600, 2500, 729, 1521, 1764, 3600, 8100, 10000, 14400, 12100]

In [76]:
import functools
import math

In [84]:
reduce_func = functools.reduce(lambda x,y:(x+y),list1)

In [86]:
reduce_func

738